{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    {% block layout_footer_navigation %}
        <div id="footerColumns"
             class="row footer-columns"
             data-collapse-footer="true">
            {% block layout_footer_navigation_columns %}
                {% for root in page.footer.navigation.tree %}
                    {% block layout_footer_navigation_column %}
                        <div class="col-md-2 footer-column js-footer-column">
                            {% block layout_footer_navigation_information_headline %}
                               {{ parent() }}
                            {% endblock %}

                            {% block layout_footer_navigation_information_content %}
                                {{ parent() }}
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
            {% block layout_footer_navigation_hotline %}
                <div class="col-md-2 footer-column js-footer-column">
                    {% block layout_footer_navigation_hotline_headline %}
                        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                             id="collapseFooterHotlineTitle"
                             data-target="#collapseFooterHotline"
                             aria-expanded="true"
                             aria-controls="collapseFooterHotline">
                            {{ 'footer.hedlineFour'|trans|sw_sanitize }}
                            <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                                <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                            </div>
                        </div>
                    {% endblock %}

                    {% block layout_footer_navigation_hotline_content %}
                        <div id="collapseFooterHotline"
                             class="footer-column-content collapse js-footer-column-content footer-contact"
                             aria-labelledby="collapseFooterHotlineTitle">
                            <div class="footer-column-content-inner">
                                    <p class="login-info">{{ 'footer.loginInfo'|trans|sw_sanitize }}</p>
                                    {{ 'footer.loginButton'|trans|raw }}
                            </div>
                        </div>
                    {% endblock %}
                </div>

                <div class="col-md-2 footer-column js-footer-column">
                    <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                         id="collapseFooterHotlineTitleOne"
                         data-target="#collapseFooterHotlineOne"
                         aria-expanded="true"
                         aria-controls="collapseFooterHotlineOne">
                        {{ 'footer.hedlineOne'|trans|sw_sanitize }}
                            <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                                <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                            </div>
                    </div>

                    <div id="collapseFooterHotlineOne"
                         class="footer-column-content collapse js-footer-column-content footer-contact"
                         aria-labelledby="collapseFooterHotlineTitleOne">
                        <div class="footer-column-content-inner">
                        {% if context.salesChannel.translated.customFields.custom_footer_brands %}
                            {# simplify ID access #}
                            {% set sportsMediaId = context.salesChannel.translated.customFields.custom_footer_brands %}

                            {# fetch media as batch - optimized for performance #}
                            {% set mediaCollection = searchMedia([sportsMediaId], context.context) %}

                            {# extract single media object #}
                            {% set sportsMedia = mediaCollection.get(sportsMediaId) %}
                            <img src="{{ sportsMedia.url }}">
                        {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-2 footer-column js-footer-column">
                    <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                         id="collapseFooterHotlineTitleTwo"
                         data-target="#collapseFooterHotlineTwo"
                         aria-expanded="true"
                         aria-controls="collapseFooterHotlineTwo">
                        {{ 'footer.headlineSecond'|trans|sw_sanitize }}
                        <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                            <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                        </div>
                    </div>

                    <div id="collapseFooterHotlineTwo"
                         class="footer-column-content collapse js-footer-column-content footer-contact"
                         aria-labelledby="collapseFooterHotlineTitleTwo">
                        <div class="footer-column-content-inner">
                            <div class="social">{{ 'footer.socialTextOne'|trans|raw }}</div>
                            <div class="social">{{ 'footer.socialTextSecond'|trans|raw }}</div>
                            <div class="social">{{ 'footer.socialTextThird'|trans|raw }}</div>
                            <div class="social">{{ 'footer.socialTextFour'|trans|raw }}</div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block layout_footer_payment_shipping_logos %}
        <div class="footer-logos">
            {% block layout_footer_payment_logos %}
                {% for paymentMethod in page.salesChannelPaymentMethods %}
                    {% block layout_footer_payment_logo %}
                        {% if paymentMethod.media %}
                            <div class="footer-logo is-payment">
                                {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                    media: paymentMethod.media,
                                    sizes: {
                                        'default': '100px'
                                    },
                                    attributes: {
                                        'class': 'img-fluid footer-logo-image',
                                        'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                        'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                    }
                                } %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endfor %}
            {% endblock %}

            {% block layout_footer_shipping_logos %}
                {% for shippingMethod in page.salesChannelShippingMethods %}
                    {% block layout_footer_shipping_logo %}
                        {% if shippingMethod.media %}
                            <div class="footer-logo is-shipping">
                                {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                    media: shippingMethod.media,
                                    sizes: {
                                        'default': '100px'
                                    },
                                    attributes: {
                                        'class': 'img-fluid footer-logo-image',
                                        'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                        'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                    }
                                } %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_service_menu %}
                <div class="container">
                    {% block layout_footer_service_menu_content %}
                        <ul class="footer-service-menu-list list-unstyled">
                            {% for serviceMenuItem in page.header.serviceMenu %}
                                {% block layout_footer_service_menu_item %}
                                    <li class="footer-service-menu-item">
                                        <a class="footer-service-menu-link"
                                           href="{% if serviceMenuItem.externalLink %}{{ serviceMenuItem.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: serviceMenuItem.id }) }}{% endif %}"
                                           title="{{ serviceMenuItem.translated.name }}">
                                            {{ serviceMenuItem.translated.name }}
                                        </a>
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_vat %}
                <div class="not-border">
                    <h3 class="footer-column-headline footer-headline">{{ 'footer.headlineThird'|trans|raw }}</h3>
                </div>
            {% endblock %}

            {% block layout_footer_copyright %}
                <div class="footer-copyright">
                    <div class="footer-svg not-border">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="178.782" height="39.244" viewBox="0 0 178.782 39.244">
                            <defs>
                                <clipPath id="clip-path">
                                    <rect width="178.782" height="39.244" fill="none"/>
                                </clipPath>
                            </defs>
                            <g id="Повторяющаяся_сетка_5" data-name="Повторяющаяся сетка 5" clip-path="url(#clip-path)">
                                <g id="Сгруппировать_9072" data-name="Сгруппировать 9072" transform="translate(0)">
                                    <g id="Сгруппировать_9073" data-name="Сгруппировать 9073">
                                        <path id="Контур_27917" data-name="Контур 27917" d="M127.351,13.65a.375.375,0,0,1,0-.53,2.886,2.886,0,0,1,2.323-.961.375.375,0,1,1,0,.749,2.15,2.15,0,0,0-1.793.742.377.377,0,0,1-.53,0" fill="#7d8086"/>
                                        <path id="Контур_27918" data-name="Контур 27918" d="M131.529,13.649a2.153,2.153,0,0,0-1.793-.741.375.375,0,1,1,0-.749,2.886,2.886,0,0,1,2.323.961h0a.375.375,0,0,1-.265.639.37.37,0,0,1-.265-.11" fill="#7d8086"/>
                                        <g id="Сгруппировать_9072-2" data-name="Сгруппировать 9072">
                                            <path id="Контур_27919" data-name="Контур 27919" d="M119.684,20.271a.378.378,0,0,1-.281-.131L116,16.169a2.345,2.345,0,0,1,.028-3.338,2.412,2.412,0,0,1,3.381.017l.246.244.351-.342a2.412,2.412,0,0,1,3.382.016,2.454,2.454,0,0,1,.7,1.756,2.785,2.785,0,0,1-.5,1.6l-.034.042-.649.68-2.941,3.3a.375.375,0,0,1-.28.126Zm-3.132-6.9a1.6,1.6,0,0,0-.012,2.283l.02.022,3.133,3.655,2.659-2.987.009-.01.635-.665a2.061,2.061,0,0,0,.345-1.143,1.71,1.71,0,0,0-.481-1.226,1.664,1.664,0,0,0-2.33-.01l-.615.6a.375.375,0,0,1-.525,0l-.508-.505a1.662,1.662,0,0,0-2.33-.011" fill="#7d8086"/>
                                            <path id="Контур_27920" data-name="Контур 27920" d="M119.865,30.243a2.428,2.428,0,0,1-1.572-.571,6.77,6.77,0,0,1-1.041-1.157c-.205-.267-.485-.542-.732-.876a2.1,2.1,0,0,1-.461-1.266,3.93,3.93,0,0,1,.182-1.184l-1.1-2.583a.391.391,0,0,1,.505-.516l2.323.928a3.747,3.747,0,0,1,1.895-.514,3.969,3.969,0,0,1,2.034.523l2.342-.937a.391.391,0,0,1,.505.516L123.557,25.4a4.231,4.231,0,0,1,.114.972,2.254,2.254,0,0,1-.494,1.345c-.267.362-.577.663-.809.944a6.763,6.763,0,0,1-1,1.062,2.354,2.354,0,0,1-1.485.519Zm-2.846-5.224a.387.387,0,0,1,.008.286,3.142,3.142,0,0,0-.186,1.068,1.329,1.329,0,0,0,.309.8c.195.267.47.539.721.863a6.139,6.139,0,0,0,.914,1.026,1.634,1.634,0,0,0,1.08.4,1.562,1.562,0,0,0,1.019-.353,6.286,6.286,0,0,0,.882-.944c.27-.324.566-.615.78-.908a1.478,1.478,0,0,0,.343-.882,3.486,3.486,0,0,0-.121-.9.4.4,0,0,1,.018-.255l.872-2.049L122,23.827a.388.388,0,0,1-.366-.04,3.128,3.128,0,0,0-1.772-.5,2.962,2.962,0,0,0-1.641.5.389.389,0,0,1-.361.037l-1.633-.653Z" fill="#7d8086"/>
                                            <path id="Контур_27921" data-name="Контур 27921" d="M129.3,30.223a1.726,1.726,0,0,1-1.082-.364,1.255,1.255,0,0,1-.491-.972V28.1h-.787a1.249,1.249,0,0,1-.972-.492,1.726,1.726,0,0,1-.364-1.082v-.752a1.726,1.726,0,0,1,.364-1.082,1.251,1.251,0,0,1,.972-.491h.787v-.787a1.253,1.253,0,0,1,.491-.973,1.738,1.738,0,0,1,1.082-.364h.753a1.738,1.738,0,0,1,1.082.364,1.25,1.25,0,0,1,.491.973V24.2h.787v.748h-1.535V23.414a.5.5,0,0,0-.212-.389.989.989,0,0,0-.613-.2H129.3a.986.986,0,0,0-.613.2.5.5,0,0,0-.211.388v1.535h-1.536a.5.5,0,0,0-.388.211.989.989,0,0,0-.2.614v.752a.987.987,0,0,0,.2.614.5.5,0,0,0,.388.211h1.536v1.536a.5.5,0,0,0,.211.388.979.979,0,0,0,.613.2h.753a.979.979,0,0,0,.613-.2.5.5,0,0,0,.212-.388V27.351h1.535a.5.5,0,0,0,.389-.211.986.986,0,0,0,.2-.614v-.752a.988.988,0,0,0-.2-.614.506.506,0,0,0-.389-.211V24.2a1.251,1.251,0,0,1,.972.491,1.726,1.726,0,0,1,.364,1.082v.752a1.726,1.726,0,0,1-.364,1.082,1.249,1.249,0,0,1-.972.492h-.787v.788a1.252,1.252,0,0,1-.491.972,1.726,1.726,0,0,1-1.082.364Z" fill="#7d8086"/>
                                            <path id="Контур_27922" data-name="Контур 27922" d="M128.407,19.723a3.428,3.428,0,0,1-.723-1.158,6.93,6.93,0,0,1-.461-2.341.374.374,0,1,1,.748,0,6.205,6.205,0,0,0,.22,1.494,3.36,3.36,0,0,0,.743,1.473,1.02,1.02,0,0,0,.74.327.374.374,0,1,1,0,.748h-.008a1.778,1.778,0,0,1-1.259-.543" fill="#7d8086"/>
                                            <path id="Контур_27923" data-name="Контур 27923" d="M124.973,19.812a1.625,1.625,0,0,1-.315-1.071,6.7,6.7,0,0,1,.408-2.026,4.649,4.649,0,0,0,.267-1.551c0-.169-.007-.324-.007-.485a1.883,1.883,0,0,1,.291-1.087,2.188,2.188,0,0,1,.605-.647,1.394,1.394,0,0,1,.788-.265,1.133,1.133,0,0,1,.656.209.374.374,0,1,1-.43.613.383.383,0,0,0-.226-.074.671.671,0,0,0-.364.133,1.5,1.5,0,0,0-.4.429,1.124,1.124,0,0,0-.176.689c0,.135.008.3.008.485a5.42,5.42,0,0,1-.305,1.786,6.036,6.036,0,0,0-.371,1.791.922.922,0,0,0,.141.59.328.328,0,0,0,.279.107,2.006,2.006,0,0,0,1.009-.4,2.2,2.2,0,0,0,.717-.748.227.227,0,0,0,.024-.08h0a.374.374,0,1,1,.748,0,1.244,1.244,0,0,1-.284.712,3.28,3.28,0,0,1-.6.6,2.854,2.854,0,0,1-1.617.672h-.016a1.079,1.079,0,0,1-.837-.374" fill="#7d8086"/>
                                            <path id="Контур_27924" data-name="Контур 27924" d="M129.361,19.892a.375.375,0,0,1,.375-.375,1.015,1.015,0,0,0,.74-.326,2.661,2.661,0,0,0,.554-.9,6.242,6.242,0,0,0,.409-2.063.374.374,0,1,1,.748,0,6.869,6.869,0,0,1-.246,1.69A4.048,4.048,0,0,1,131,19.723a1.772,1.772,0,0,1-1.266.543h0a.374.374,0,0,1-.375-.374" fill="#7d8086"/>
                                            <path id="Контур_27925" data-name="Контур 27925" d="M133.583,20.186a2.51,2.51,0,0,1-1.247-.415,3.557,3.557,0,0,1-.967-.854,1.237,1.237,0,0,1-.284-.712h0a.374.374,0,1,1,.748,0,.285.285,0,0,0,.025.08.964.964,0,0,0,.112.185,2.557,2.557,0,0,0,.458.455,2.173,2.173,0,0,0,1.155.512.328.328,0,0,0,.28-.106.929.929,0,0,0,.141-.59,6.119,6.119,0,0,0-.371-1.792,5.408,5.408,0,0,1-.3-1.785c0-.19.007-.35.007-.485a1.124,1.124,0,0,0-.176-.689,1.482,1.482,0,0,0-.4-.429.658.658,0,0,0-.364-.133.383.383,0,0,0-.225.074.374.374,0,1,1-.43-.613,1.13,1.13,0,0,1,.655-.209,1.4,1.4,0,0,1,.789.265,2.214,2.214,0,0,1,.6.647,1.893,1.893,0,0,1,.291,1.087c0,.16-.008.316-.008.485a4.656,4.656,0,0,0,.268,1.551,6.758,6.758,0,0,1,.408,2.026,1.631,1.631,0,0,1-.316,1.071,1.078,1.078,0,0,1-.836.374h-.017" fill="#7d8086"/>
                                        </g>
                                    </g>
                                    <g id="Сгруппировать_9076" data-name="Сгруппировать 9076">
                                        <g id="Сгруппировать_9074" data-name="Сгруппировать 9074">
                                            <path id="Контур_27926" data-name="Контур 27926" d="M138.987,16.561a.481.481,0,0,1,.963,0V16.6a1.214,1.214,0,0,1,1-.545,1.016,1.016,0,0,1,.957.539,1.4,1.4,0,0,1,1.115-.539c.716,0,1.147.431,1.147,1.249V19.07a.481.481,0,1,1-.963,0V17.62c0-.457-.2-.691-.564-.691s-.583.234-.583.691v1.45a.481.481,0,1,1-.963,0V17.62c0-.457-.2-.691-.564-.691s-.583.234-.583.691v1.45a.481.481,0,1,1-.963,0Z" fill="#7d8086"/>
                                            <path id="Контур_27927" data-name="Контур 27927" d="M146.616,19.59a1.7,1.7,0,0,1-1.774-1.755v-.013a1.692,1.692,0,0,1,1.679-1.768,1.606,1.606,0,0,1,1.635,1.635.44.44,0,0,1-.45.463H145.8a.787.787,0,0,0,.83.665,1.108,1.108,0,0,0,.684-.228.358.358,0,0,1,.234-.076.368.368,0,0,1,.374.38.379.379,0,0,1-.126.285A1.759,1.759,0,0,1,146.616,19.59Zm.621-2.04a.728.728,0,0,0-.716-.722.757.757,0,0,0-.735.722Z" fill="#7d8086"/>
                                            <path id="Контур_27928" data-name="Контур 27928" d="M148.891,16.561a.481.481,0,0,1,.963,0V16.6a1.214,1.214,0,0,1,1-.545,1.017,1.017,0,0,1,.957.539,1.4,1.4,0,0,1,1.115-.539c.716,0,1.147.431,1.147,1.249V19.07a.482.482,0,1,1-.963,0V17.62c0-.457-.2-.691-.564-.691s-.583.234-.583.691v1.45a.481.481,0,1,1-.963,0V17.62c0-.457-.2-.691-.564-.691s-.583.234-.583.691v1.45a.481.481,0,1,1-.963,0Z" fill="#7d8086"/>
                                            <path id="Контур_27929" data-name="Контур 27929" d="M154.91,15.332a.482.482,0,0,1,.964,0v1.274a1.246,1.246,0,0,1,1.058-.552,1.6,1.6,0,0,1,1.546,1.756v.012a1.592,1.592,0,0,1-1.546,1.755,1.3,1.3,0,0,1-1.058-.507v.007a.482.482,0,0,1-.964-.007Zm2.6,2.49V17.81a.834.834,0,1,0-1.654,0v.012a.834.834,0,1,0,1.654,0Z" fill="#7d8086"/>
                                            <path id="Контур_27930" data-name="Контур 27930" d="M160.8,19.59a1.7,1.7,0,0,1-1.774-1.755v-.013a1.691,1.691,0,0,1,1.679-1.768,1.606,1.606,0,0,1,1.635,1.635.44.44,0,0,1-.45.463H159.98a.787.787,0,0,0,.83.665,1.11,1.11,0,0,0,.684-.228.358.358,0,0,1,.234-.076.368.368,0,0,1,.374.38.376.376,0,0,1-.127.285A1.754,1.754,0,0,1,160.8,19.59Zm.621-2.04a.728.728,0,0,0-.716-.722.757.757,0,0,0-.735.722Z" fill="#7d8086"/>
                                            <path id="Контур_27931" data-name="Контур 27931" d="M163.072,16.561a.481.481,0,0,1,.963,0v.152c.139-.329.367-.633.652-.633a.439.439,0,0,1,.469.469.443.443,0,0,1-.361.45c-.488.114-.76.487-.76,1.172v.9a.481.481,0,1,1-.963,0Z" fill="#7d8086"/>
                                            <path id="Контур_27932" data-name="Контур 27932" d="M167.457,17.835v-.013a1.839,1.839,0,0,1,3.674-.012v.012a1.839,1.839,0,0,1-3.674.013Zm2.724,0v-.013a.9.9,0,0,0-.893-.938.87.87,0,0,0-.881.926v.012a.9.9,0,0,0,.893.938A.871.871,0,0,0,170.181,17.835Z" fill="#7d8086"/>
                                            <path id="Контур_27933" data-name="Контур 27933" d="M171.993,16.941h-.038a.392.392,0,0,1-.4-.392.4.4,0,0,1,.4-.4h.038v-.215a1.12,1.12,0,0,1,.273-.824,1.057,1.057,0,0,1,.779-.266,2.354,2.354,0,0,1,.393.026.39.39,0,0,1,.329.386.4.4,0,0,1-.393.4h-.082c-.222,0-.348.114-.348.368v.133h.418a.393.393,0,1,1,0,.785h-.406V19.07a.481.481,0,1,1-.963,0Z" fill="#7d8086"/>
                                        </g>
                                        <g id="Сгруппировать_9075" data-name="Сгруппировать 9075">
                                            <path id="Контур_27934" data-name="Контур 27934" d="M140.371,26.1l-1.439-3.44a.619.619,0,0,1-.057-.235.479.479,0,0,1,.488-.481.507.507,0,0,1,.494.342l1.109,2.87,1.122-2.9a.505.505,0,0,1,.469-.31.47.47,0,0,1,.481.469.553.553,0,0,1-.051.215L141.536,26.1a.572.572,0,0,1-.551.387h-.063A.572.572,0,0,1,140.371,26.1Z" fill="#7d8086"/>
                                            <path id="Контур_27935" data-name="Контур 27935" d="M143.1,25.786l1.547-3.491a.6.6,0,0,1,.57-.387h.057a.593.593,0,0,1,.563.387l1.547,3.491a.486.486,0,0,1,.05.2.462.462,0,0,1-.462.469.5.5,0,0,1-.469-.335l-.3-.7h-1.951l-.311.729a.479.479,0,0,1-.45.3.449.449,0,0,1-.45-.456A.528.528,0,0,1,143.1,25.786Zm2.744-1.229-.615-1.464-.614,1.464Z" fill="#7d8086"/>
                                            <path id="Контур_27936" data-name="Контур 27936" d="M148.2,22.466a.484.484,0,0,1,.488-.488h2.484a.443.443,0,0,1,0,.887h-2v.944h1.711a.443.443,0,0,1,0,.887h-1.711v1.267a.488.488,0,1,1-.976,0Z" fill="#7d8086"/>
                                            <path id="Контур_27937" data-name="Контур 27937" d="M152.156,24.208V24.2a2.358,2.358,0,0,1,4.714-.013V24.2a2.358,2.358,0,0,1-4.714.012Zm3.694,0V24.2a1.347,1.347,0,0,0-1.343-1.394,1.327,1.327,0,0,0-1.331,1.381V24.2a1.348,1.348,0,0,0,1.343,1.394A1.327,1.327,0,0,0,155.85,24.208Z" fill="#7d8086"/>
                                            <path id="Контур_27938" data-name="Контур 27938" d="M159.443,24.208V24.2a2.277,2.277,0,0,1,2.326-2.294,2.456,2.456,0,0,1,1.514.431.487.487,0,0,1,.2.393.484.484,0,0,1-.78.38,1.552,1.552,0,0,0-.969-.3,1.332,1.332,0,0,0-1.274,1.381V24.2a1.329,1.329,0,0,0,1.344,1.406,1.552,1.552,0,0,0,.918-.266V24.7h-.659a.419.419,0,0,1-.424-.419.424.424,0,0,1,.424-.424h1.115a.484.484,0,0,1,.488.488v1.077a.659.659,0,0,1-.342.621,2.957,2.957,0,0,1-1.552.443A2.22,2.22,0,0,1,159.443,24.208Z" fill="#7d8086"/>
                                            <path id="Контур_27939" data-name="Контур 27939" d="M164.506,23.46a.481.481,0,0,1,.963,0v.153c.14-.33.368-.634.653-.634a.439.439,0,0,1,.469.469.444.444,0,0,1-.361.45c-.488.114-.761.488-.761,1.172v.9a.481.481,0,0,1-.963,0Z" fill="#7d8086"/>
                                            <path id="Контур_27940" data-name="Контур 27940" d="M166.9,24.734v-.012a1.783,1.783,0,0,1,1.844-1.768,1.765,1.765,0,0,1,1.831,1.755v.013a1.783,1.783,0,0,1-1.844,1.767A1.765,1.765,0,0,1,166.9,24.734Zm2.724,0v-.012a.9.9,0,0,0-.893-.938.87.87,0,0,0-.881.925v.013a.9.9,0,0,0,.894.937A.869.869,0,0,0,169.619,24.734Z" fill="#7d8086"/>
                                            <path id="Контур_27941" data-name="Контур 27941" d="M174.352,25.97a.481.481,0,0,1-.962,0v-.038a1.2,1.2,0,0,1-.995.544,1.113,1.113,0,0,1-1.153-1.26V23.46a.481.481,0,0,1,.963,0v1.452c0,.456.215.69.583.69s.6-.234.6-.69V23.46a.481.481,0,0,1,.962,0Z" fill="#7d8086"/>
                                            <path id="Контур_27942" data-name="Контур 27942" d="M175.214,23.46a.481.481,0,0,1,.963,0V23.5a1.248,1.248,0,0,1,1.059-.551,1.6,1.6,0,0,1,1.546,1.755v.013a1.591,1.591,0,0,1-1.546,1.754,1.307,1.307,0,0,1-1.059-.506v1.013a.481.481,0,1,1-.963,0Zm2.6,1.262v-.013a.834.834,0,1,0-1.654,0v.013a.833.833,0,1,0,1.654,0Z" fill="#7d8086"/>
                                        </g>
                                    </g>
                                    <g id="Сгруппировать_9078" data-name="Сгруппировать 9078">
                                        <path id="Контур_27943" data-name="Контур 27943" d="M90.6,11.358a9.435,9.435,0,0,0-4.576,2.223c-.481.365-2.352,1.875-.582,1.552,6.953-1.27,8.555,3.194,6.379,7.109-2.195,3.949-7.988,5.369-11.293,3.6-2.953-1.584-2.781-4.928-2.33-6.4a10.02,10.02,0,0,1,4.222-5.019C83.9,13.468,85.583,13,86.3,12.229c.885-.949-1.45-.447-2.16-.261-5.992,1.571-10,4.77-11.423,9.5a7.033,7.033,0,0,0-.286,1.613C68.124,26.45,64.008,27.364,61.8,25.8c-2.921-2.069-2.121-7.276,1.572-10,3.34-2.462,5.839-1.089,7.186.69.407.538,2.074-.129,3.574-1.141,1.468-.991,2.222-1.843,1.882-2.161-1.543-1.441-3.826-2.323-7.983-1.622-7.181,1.213-14.483,7.878-13.5,13.625-1.962,1.141-6.05,3.379-6.9-1.608a39.874,39.874,0,0,0,9.977-10.764C59.765,9.3,61.269,4,60.546,1.085c-.89-3.591-13.83,1.633-17.885,17.141a16.582,16.582,0,0,0-.541,6.951c-.192.118-.379.231-.557.334-3.664,2.113-7.685,2.518-8.385-2.494A42.081,42.081,0,0,0,43.426,11.425c2.034-3.566,2.956-6.79,2.493-9.465-.835-4.811-14.846,1.008-17.985,15.75a17.363,17.363,0,0,0-.311,6.77,13.62,13.62,0,0,1-2.65,1.483c-2.074.857-2.092-2.378-.308-9.937.394-1.665-.641-.846-2.4-.043-1.211.551-1.727,1.165-3.095,2.845-4.561,5.6-10.1,8.9-12.388,6.683-1.577-1.53-.859-5.427,2.152-8.259,3.816-3.589,7.2-2.291,8.344-.642.363.525,1.561.175,3.156-.715,2-1.114,2.508-2.127,2.287-2.466-.874-1.342-4.009-2.482-7.789-1.692C6.546,13.488-1.21,21.425.157,27.145c.756,3.162,4.961,3.677,9.145,2.218a21.011,21.011,0,0,0,8.813-6.508c-1.173,6.566.974,7.761,3.4,7.135a23.742,23.742,0,0,0,6.736-3.469A5.81,5.81,0,0,0,30.3,29c3.8,2.507,8.379.493,12.3-2.092a4.87,4.87,0,0,0,2.182,2.644c2.738,1.358,7.107-.385,10.363-2.558.022.042.042.085.065.127,3.19,5.81,12.817,1.938,17.436-1.88a6.316,6.316,0,0,0,5.5,4.628,16.985,16.985,0,0,0,17.056-8.5C98.614,15.478,95.258,10.95,90.6,11.358Zm-56.252.786a20.912,20.912,0,0,1,5.132-8.75c.519-.306,2.343,2.193-.712,9.04a28.488,28.488,0,0,1-5.88,8.206A25.81,25.81,0,0,1,34.343,12.144Zm14.742.466a24.407,24.407,0,0,1,5.754-9.539S56.79,6.759,53.5,13.526a27.932,27.932,0,0,1-6.13,7.97S47.058,18.559,49.085,12.61Z" fill="#7d8086"/>
                                        <g id="Сгруппировать_9077" data-name="Сгруппировать 9077">
                                            <path id="Контур_27944" data-name="Контур 27944" d="M12.9,34.652v.614H11.482V39.19h-.735V35.266H9.329v-.614Z" fill="#7d8086"/>
                                            <path id="Контур_27945" data-name="Контур 27945" d="M17.321,39.19H16.58V34.652h.741Z" fill="#7d8086"/>
                                            <path id="Контур_27946" data-name="Контур 27946" d="M24.292,34.652v.6H22.2v1.367h1.671v.577H22.2v1.4H24.3l0,.6h-2.83V34.652Z" fill="#7d8086"/>
                                            <path id="Контур_27947" data-name="Контур 27947" d="M28.847,37.362V39.19H28.11V34.652h1.336a2.848,2.848,0,0,1,.77.091,1.478,1.478,0,0,1,.532.26,1.041,1.041,0,0,1,.307.405,1.43,1.43,0,0,1,.028.968,1.214,1.214,0,0,1-.2.371,1.259,1.259,0,0,1-.331.29,1.718,1.718,0,0,1-.446.193.711.711,0,0,1,.237.23l1.226,1.73h-.659a.3.3,0,0,1-.284-.151L29.563,37.51a.355.355,0,0,0-.117-.113.4.4,0,0,0-.189-.035Zm0-.536h.58a1.428,1.428,0,0,0,.441-.061.882.882,0,0,0,.315-.172.7.7,0,0,0,.189-.263.882.882,0,0,0,.064-.339.68.68,0,0,0-.246-.567,1.185,1.185,0,0,0-.744-.2h-.6Z" fill="#7d8086"/>
                                            <path id="Контур_27948" data-name="Контур 27948" d="M35.675,34.657a.211.211,0,0,1,.062.017.181.181,0,0,1,.053.038.458.458,0,0,1,.054.063l2.5,3.2c-.006-.065-.011-.129-.014-.192s-.005-.122-.005-.177V34.652h.646V39.19h-.375a.32.32,0,0,1-.145-.03.332.332,0,0,1-.113-.1l-2.493-3.2c.006.061.011.121.014.181s0,.115,0,.165V39.19H35.21V34.652H35.6A.468.468,0,0,1,35.675,34.657Z" fill="#7d8086"/>
                                            <path id="Контур_27949" data-name="Контур 27949" d="M46.952,39.19h-.571a.238.238,0,0,1-.157-.049.325.325,0,0,1-.092-.121l-.378-1H43.8l-.378,1a.3.3,0,0,1-.088.116.235.235,0,0,1-.158.054h-.57l1.8-4.538h.747ZM44,37.488h1.557l-.624-1.658c-.025-.061-.051-.133-.077-.217s-.052-.174-.078-.271c-.025.1-.051.19-.077.272s-.051.156-.074.22Z" fill="#7d8086"/>
                                            <path id="Контур_27950" data-name="Контур 27950" d="M54.345,39.19h-.738V37.17H51.328v2.02h-.74V34.652h.74v1.985h2.279V34.652h.738Z" fill="#7d8086"/>
                                            <path id="Контур_27951" data-name="Контур 27951" d="M59.222,37.362V39.19h-.737V34.652h1.336a2.856,2.856,0,0,1,.771.091,1.481,1.481,0,0,1,.531.26,1.041,1.041,0,0,1,.307.405,1.352,1.352,0,0,1,.1.527,1.324,1.324,0,0,1-.071.441,1.214,1.214,0,0,1-.205.371,1.27,1.27,0,0,1-.33.29,1.733,1.733,0,0,1-.446.193.718.718,0,0,1,.236.23l1.226,1.73h-.658A.3.3,0,0,1,61,39.039L59.938,37.51a.355.355,0,0,0-.117-.113.4.4,0,0,0-.189-.035Zm0-.536h.58a1.44,1.44,0,0,0,.442-.061.891.891,0,0,0,.315-.172.7.7,0,0,0,.189-.263.882.882,0,0,0,.063-.339.68.68,0,0,0-.246-.567,1.185,1.185,0,0,0-.744-.2h-.6Z" fill="#7d8086"/>
                                            <path id="Контур_27952" data-name="Контур 27952" d="M67.286,38.594a1.173,1.173,0,0,0,.468-.088.99.99,0,0,0,.35-.246,1.052,1.052,0,0,0,.219-.379,1.542,1.542,0,0,0,.076-.494V34.652h.734v2.735a2.075,2.075,0,0,1-.128.741,1.648,1.648,0,0,1-.948.975,2.176,2.176,0,0,1-1.541,0,1.646,1.646,0,0,1-.949-.975,2.1,2.1,0,0,1-.128-.741V34.652h.738v2.732a1.532,1.532,0,0,0,.075.493,1.1,1.1,0,0,0,.218.382.972.972,0,0,0,.348.247A1.18,1.18,0,0,0,67.286,38.594Z" fill="#7d8086"/>
                                            <path id="Контур_27953" data-name="Контур 27953" d="M73.7,34.657a.2.2,0,0,1,.061.017.158.158,0,0,1,.053.038.4.4,0,0,1,.054.063l2.5,3.2c-.006-.065-.011-.129-.014-.192s0-.122,0-.177V34.652h.646V39.19h-.375a.316.316,0,0,1-.144-.03.344.344,0,0,1-.114-.1l-2.493-3.2c.006.061.011.121.014.181s0,.115,0,.165V39.19h-.649V34.652h.384A.473.473,0,0,1,73.7,34.657Z" fill="#7d8086"/>
                                            <path id="Контур_27954" data-name="Контур 27954" d="M83.291,39.24a2.768,2.768,0,0,1-1-.171,2.237,2.237,0,0,1-.761-.479,2.092,2.092,0,0,1-.485-.733,2.49,2.49,0,0,1-.171-.936,2.59,2.59,0,0,1,.165-.941,2.077,2.077,0,0,1,.469-.734,2.106,2.106,0,0,1,.737-.476,2.662,2.662,0,0,1,.971-.169,2.893,2.893,0,0,1,.509.043,2.535,2.535,0,0,1,.437.118,2.075,2.075,0,0,1,.372.183,2.111,2.111,0,0,1,.312.239l-.212.337a.2.2,0,0,1-.129.1.219.219,0,0,1-.17-.038l-.194-.113a1.666,1.666,0,0,0-.235-.112,1.689,1.689,0,0,0-.305-.085,2.222,2.222,0,0,0-.41-.033,1.693,1.693,0,0,0-.648.118,1.393,1.393,0,0,0-.493.337,1.5,1.5,0,0,0-.315.531,2.072,2.072,0,0,0-.11.7,2.113,2.113,0,0,0,.116.727,1.529,1.529,0,0,0,.331.542,1.416,1.416,0,0,0,.519.338,2.06,2.06,0,0,0,1.178.057,2.289,2.289,0,0,0,.43-.167v-.9h-.633a.153.153,0,0,1-.113-.04.132.132,0,0,1-.041-.1v-.419h1.453v1.8A2.622,2.622,0,0,1,83.291,39.24Z" fill="#7d8086"/>
                                        </g>
                                    </g>
                                    <line id="Линия_18" data-name="Линия 18" y2="39.19" transform="translate(105.852)" fill="none"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="text-copyright">
                        {{ "footer.copyrightText"|trans|sw_sanitize }}
                    </p>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

